/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #EEF1F4;
}

.container {
  margin-top: 80px;
  max-width: 600px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.header .title,
.breadcrumb,
.form-step h2 {
  text-align: center;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.step {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #0b55f5;
  background: none;
  margin: 0 10px;
}

.step.active {
  background-color: #0b55f5;
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

.prev-button,
.next-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: #aaa;
}

.skip-button {
  display: inline-block;
  width: 60px; /* Ajustez la largeur selon votre préférence */
  height: 30px; /* Ajustez la hauteur selon votre préférence */
  font-size: 14px; /* Ajustez la taille de la police selon votre préférence */
  line-height: 30px;
  text-align: center;
  background-color: #ccc;
  border-radius: 15px; /* Ajustez le rayon de la bordure selon votre préférence */
  margin-left: auto; /* Utilisez cette ligne pour déplacer le bouton vers la droite */
  cursor: pointer;
}

.skip-button:hover {
  background-color: #aaa;
}
